
*.o

*.prefs

deikstra/\.settings/

mergesort/\.settings/

quicksort/\.settings/

*.exe

quicksort/\.cproject

quicksort/\.project

mergesort/\.cproject

mergesort/\.project

deikstra/\.project

deikstra/\.cproject
